# To use OpenRouter for testing, uncomment the line below and add your key.
# OPENROUTER_API_KEY="sk-or-v1-..."

# For the actual hackathon scoring environment, Fireworks is required.
# FIREWORKS_API_KEY="fw-..."

# You can override the models here. If blank, it defaults to google/gemma-2-9b-it:free for OpenRouter
# ALLOWED_MODELS="google/gemma-2-9b-it:free"
